<div>
  <button class = "button" type="button" mat-raised-button color="primary" routerLink="bar" routerLinkActive="activebutton">Bar</button>
  <button class = "button" type="button" mat-raised-button color="accent" routerLink="line" routerLinkActive="activebutton">Line</button>
  <button class = "button" type="button" mat-raised-button color="warn" routerLink="pie" routerLinkActive="activebutton">Pie</button>
  <button class = "button" type="button" mat-raised-button color="accent" routerLink="doughnut" routerLinkActive="activebutton">Doughnut</button>
</div>

