<div class="container">
  <div class="screen">
    <div class="screen__content">
      <form
      [formGroup]="empregister" ngClass="form" 
      >
        <div class="login__field">
            <mat-form-field appearance="outline">
                <mat-label for="Email">Email</mat-label>
                <input matInput id="emailAddress" formControlName="Email" [errorStateMatcher]="matcher"/>
                <mat-error class="alert-danger" *ngIf="empregister?.invalid && empregister.get('Email')?.hasError('required')">Required
                  </mat-error>
                  <mat-error class="alert-danger" *ngIf="empregister?.invalid && empregister.get('Email')?.hasError('pattern')">Email Invalid
                  </mat-error>
              </mat-form-field>
        </div>

        <div class="login__field">
            <mat-form-field appearance="outline" class="cstm_mat_inr">
                <mat-label for="Password">Password </mat-label>
                <input matInput id="password" formControlName="Password" [type]="hide ? 'password' : 'text'" [errorStateMatcher]="matcher"/>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error class="alert-danger" *ngIf="empregister?.invalid && empregister.get('Password')?.hasError('required')">Required
                </mat-error>
                <mat-error class="alert-danger" *ngIf="empregister?.invalid && empregister.get('Password')?.hasError('pattern')">Password Invalid
                </mat-error>
              </mat-form-field>
        </div>
        <button
          class="button login__submit" type="submit" mat-flat-button color="primary" (click)="onSubmit()">Submit
        </button>
      </form>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
