<!-- Navbar Start -->
<div class="container-fluid bg-light position-relative shadow">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a href="" class="navbar-brand font-weight-bold text-secondary" style="font-size: 50px">
        <i class="flaticon-043-teddy-bear"></i>
        <span class="text-primary">Logo</span>
      </a>
      <button mat-raised-button color="primary"(click)="clear()">logout</button>
      <!-- <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div  class="navbar-nav font-weight-bold mx-auto py-0">
          <!-- <li *ngFor="let menu of menus">
            <a class="nav-item nav-link active" [routerLink]="menu.path">{{menu.name}}</a>
          </li> -->
        </div>
        <!-- <a href="" class="btn btn-primary px-4">Dashboard</a> -->
      </div>
    </nav>
  </div>
  <!-- Navbar End -->
  